:root {
  --bg-light: #f5efeb;
  --text-light: #313c3e;
  --accent-light: #56878d;

  --bg-dark: #31323e;
  --bg-dark-secondary: #212020;
  --text-dark: #C6C2C3;
  --accent-dark: #383636;

  --hover-bg-light: #e8f0fe;
  --hover-bg-dark: #2a2a2a;
}

.footer {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  background-color: var(--accent-dark) ;
  color: white;
  word-wrap: break-word;
}

.footer:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, color 0.3s;
}

.footer p {
  max-width: 100%;
  overflow-wrap: break-word;
}


.div1 {
     text-align: center;
     margin: 0 auto;
     max-width: 650px;
}

.link1 {
     color: white;
}

.link2 {
     color: white;
     text-decoration: none;
     margin: 0 10px;
}